/* 
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;

color
#010101
#555555
#898989
#fcdb00
common
button 
*/

/* fonts style start*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Roboto&family=Ubuntu:wght@300&display=swap');
/* fonts style end*/


/* common start */
body{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #898989;
}
/* common end */



/* header start */
header{
    background-color: #fcdb00;
    padding: 20px 0;
}
.menu ul li a{
    font-size: 22px;
    font-weight: 700;
    color: #010101 !important;
    padding: 0 50px !important;
}
.menu ul li a:last-child a{
    padding-right: 0 !important;
}
.menu ul li a:hover{
    color: white !important;
}
/* header end */



/* Slider start */
.slider{
    background-color: #fcdb00;
    padding-bottom: 100px;
}
.c_ind {
    bottom: -80px;
}
.c_ind [data-bs-target]{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.s_text{
    margin-top: 50px;
}
.s_text h1{
    font-size: 32px;
    font-weight: 700;
    color: #010101;
}
.s_text h2{
    margin: 20px 0;
    font-size: 20px;
    font-weight: 400;
    color: #313841;
}
.s_text p{
    margin-bottom: 35px;
    color: #555555;
}
.s_icon ul li{
    margin-right: 30px !important;
    transition: .3s;
}
.s_icon ul li:hover{
    transform: scale(.8);
}
/* slider end */


/* feature start */
.feature{
    padding-top: 100px;
    padding-bottom: 120px;   
}
.c_h1{
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 700;
    color: #010101;
}
.c_p{
    line-height: 28px ;
    font-size: 20px;
    color: #313841;
}

.f_item{
    margin-top: 70px;
}
.f_icon img{
    margin-top: 5px;
    font-size: 50px;
    color: #010101;
}
.f_text h2{
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 400;
    color: #010101;
}
.f_text p{
    letter-spacing: 1px;
}
/* feature end */